<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/layout.html">

    <div layout:fragment="myContent">

        <div class="row">
            <div class="col-12">
                <br>
                <a th:href="@{'/main'}"><i class="fa-solid fa-backward-step"></i> BACK TO TASK LIST PAGE</a>
                <br>
                <h3 class="text-center">COMPLETED TASKS</h3>
                <br>
                <table class="table table-striped table-blue" style="font-size: 12px">
                    <thead>
<!--                    <th>STATUS</th>-->
                    <th>NAME</th>
                    <th>DUE DATE</th>
                    <th>DAYS REMAINING</th>
                    <th>IMPORTANCE</th>
                    <th>URGENCY</th>
                    <th>ASSIGNED TO</th>
                    <th> <i class="fa-solid fa-square-info"></i> DETAIL</th>
                    </thead>
                    <tbody>
                    <tr  th:each="tsk: ${tasks}">
<!--                        <td type="hidden" th:text="${tsk.id}"></td>-->
<!--                        <td>-->
<!--                            <form th:action="@{'/completedTask'}" method="post">-->
<!--                                <input type="hidden" name="taskId" th:value="${tsk.id}">-->
<!--                                <button class="btn btn-success"><i class="fa-regular fa-circle-check"></i></button>-->
<!--                            </form>-->
<!--                        </td>-->
<!--                        <td th:text="${tsk.response.acceptance}"></td>-->
                        <td th:text="${tsk.name}" style="color: #406094; font-size: 16px"></td>
                        <td th:text="${#dates.format(tsk.duedate, 'yyyy-MM-dd')}"></td>
                        <td th:text="${tsk.getIscomplete()}"></td>
                        <td th:text = "${tsk.urgency.name}"></td>
                        <td th:text = "${tsk.important.name}"></td>
                        <td th:text = "${tsk.user}"></td>

                        <td>
                            <a th:href = "@{'/tasks/submittedTaskDetail/' + ${tsk.id}}" class="btn btn-primary btn-sm" > <i class="fa-solid fa-memo-circle-info"></i> DETAILS</a>
                        </td>
                    </tr>
                    </tbody>
                </table>


                <span id="submitted" style="display: none;" th:text="${submitted}"></span>
                <span id="responded" style="display: none;" th:text="${respnded}"></span>
                <span id="pending" style="display: none;" th:text="${pend}"></span>
                <span id="rejected" style="display: none;" th:text="${rejected}"></span>
                <span id="unassigned" style="display: none;" th:text="${unassigned}"></span>

            </div>
        </div>

    </div>
</html>