<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/layout.html">
<head></head>


    <div layout:fragment="myContent">

        <h2>Hello, It is your Profile.</h2>


        <form th:action="@{'/toExit'}" method="post">


            <div class="mt-3">
                <button class="btn btn-success">SIGN OUT </button>
            </div>

        </form>
    </div>

</html>